## 모듈 import

- ..: 현재 디렉토리
- .: 상위 디렉토리

In [3]:
import numpy as np
import pandas as pd

## Excel

### Excel - 불러오기

Excel 데이터를 바로 읽어들일 수 있으며, `sheet_name`을 지정하면 해당 sheet를 가져옵니다.

In [9]:
excel = pd.read_excel('./data/data/seoul_transportation.xlsx', sheet_name='철도', engine = 'openpyxl')

In [12]:
excel.head()

  대중교통구분  노선명      년월   승차총승객수
0    지하철  1호선  201711  8633618
1    지하철  1호선  201712  8737235
2    지하철  1호선  201801  8145989
3    지하철  1호선  201802  7273309
4    지하철  1호선  201803  8692551

"버스" sheet를 읽으세요.

In [13]:
excel = pd.read_excel('./data/data/seoul_transportation.xlsx', sheet_name='버스', engine = 'openpyxl')
excel.head()

  대중교통구분      년월     승차총승객수
0     버스  201711  163443126
1     버스  201712  162521011
2     버스  201801  153335185
3     버스  201802  134768582
4     버스  201803  166177855

### Excel - 저장하기

DataFrame을 Excel로 저장할 수 있으며, Excel로 저장시 **파일명**을 지정합니다.

- `index=False` 옵션은 가급적 꼭 지정하는 옵션입니다. 지정을 안하면 **index가 별도의 컬럼으로 저장**되게 됩니다.
- `sheet_name`을 지정하여, 저장할 시트의 이름을 변경할 수 있습니다.

In [14]:
excel.to_excel('sample.xlsx', index=True)

In [15]:
excel.to_excel('sample1.xlsx', index=False, sheet_name='샘플')

### 연습문제

1) data 폴더에 있는 seoul_transportation.xlsx 파일을 읽어서 df에 저장하세요.

2) ‘승차총승객수’ 칼럼을 선택하여 total_passenger에 저장하세요.

3) 저장된 시리즈를 '승차총승객수’ 라는 이름의 엑셀 파일로 저장하세요.

In [16]:
# '승차총승객수' 칼럼을 선택
df = pd.read_excel("./data/data/seoul_transportation.xlsx")
df

    대중교통구분    노선명      년월   승차총승객수
0      지하철    1호선  201711  8633618
1      지하철    1호선  201712  8737235
2      지하철    1호선  201801  8145989
3      지하철    1호선  201802  7273309
4      지하철    1호선  201803  8692551
..     ...    ...     ...      ...
596    지하철  우이신설선  201901  1263643
597    지하철  우이신설선  201902  1102109
598    지하철  우이신설선  201903  1402393
599    지하철  우이신설선  201904  1403115
600    지하철  우이신설선  201905  1469681

[601 rows x 4 columns]

df를 '2020년 07월 서울 브랜드별 평균 휘발유 가격.xlsx'으로 저장하세요. 인덱스는 저장하지 않습니다.

In [17]:
# 승차총승객수라는 이름의 엑셀 파일로 저장
df.to_excel('2020년 07월 서울 브랜드별 평균 휘발유 가격.xlsx',index = False)

## CSV (Comma Separated Values)

- 한 줄이 한 개의 행에 해당하며, 열 사이에는 **쉼표(,)를 넣어 구분**합니다.
- Excel보다는 훨씬 가볍고 **차지하는 용량이 적기 때문에 대부분의 파일데이터는 csv 형태**로 제공됩니다.

(참고) 쉼표를 찍어 놓은 금액 데이터(100,000)를 CSV에 직접 집어넣으면 나중에 해석할 때 서로 다른 열로 취급되므로 문제가 될 수 있습니다. 해결책으로 쉼표 대신 탭 문자(\t)를 구분자로 사용하는 것이다. 이러한 경우 **Tab Separated Values(TSV)**라고 부른다.

### CSV - 불러오기

In [39]:
df = pd.read_csv('./data/data/seoul_population.csv') # sep=',', encoding='utf-8'

In [40]:
df.head()

,연도,자치구,세대수,인구 합계,남자 인구 합계,여자 인구 합계,한국인 인구 합계,한국인 남자 인구수,한국인 여자 인구수,등록 외국인 인구 합계,등록 외국인 인구 남자수,등록 외국인 인구 여자수,세대당 인구,65세 이상 고령자 수
0,2020,합계,"4,417,954","9,911,088","4,816,522","5,094,566","9,668,465","4,701,723","4,966,742","242,623","114,799","127,824",2.19,"1,568,331"
1,2020,종로구,"75,003","158,996","76,876","82,120","149,384","72,635","76,749","9,612","4,241","5,371",1.99,"28,507"
2,2020,중구,"63,686","134,635","65,776","68,859","125,240","61,222","64,018","9,395","4,554","4,841",1.97,"24,495"
3,2020,용산구,"113,093","244,645","118,835","125,810","230,040","110,722","119,318","14,605","8,113","6,492",2.03,"40,247"
4,2020,성동구,"135,870","300,505","146,424","154,081","293,556","143,387","150,169","6,949","3,037","3,912",2.16,"45,603"

때때로 한글데이터를 불러올 때 다른 인코딩을 사용해야하는 경우도 있습니다.그럴 땐 `encoding` 옵션을 지정해주면 됩니다.

In [41]:
df = pd.read_csv('./data/data/seoul_population.csv', encoding='utf8')
# 'cp949', 'euc-kr' 
# UnicodeDecodeError -> 인코딩 오류 (utf-8로 해석 불가) -> encoding='cp949' or 'euc-kr' or 'latin1' or 'utf16'

In [44]:
df = pd.read_csv('./data/data/seoul_population.csv', encoding='utf8',chunksize =10)
df
for d in df:
    display(d)

,연도,자치구,세대수,인구 합계,남자 인구 합계,여자 인구 합계,한국인 인구 합계,한국인 남자 인구수,한국인 여자 인구수,등록 외국인 인구 합계,등록 외국인 인구 남자수,등록 외국인 인구 여자수,세대당 인구,65세 이상 고령자 수
0,2020,합계,"4,417,954","9,911,088","4,816,522","5,094,566","9,668,465","4,701,723","4,966,742","242,623","114,799","127,824",2.19,"1,568,331"
1,2020,종로구,"75,003","158,996","76,876","82,120","149,384","72,635","76,749","9,612","4,241","5,371",1.99,"28,507"
2,2020,중구,"63,686","134,635","65,776","68,859","125,240","61,222","64,018","9,395","4,554","4,841",1.97,"24,495"
3,2020,용산구,"113,093","244,645","118,835","125,810","230,040","110,722","119,318","14,605","8,113","6,492",2.03,"40,247"
4,2020,성동구,"135,870","300,505","146,424","154,081","293,556","143,387","150,169","6,949","3,037","3,912",2.16,"45,603"
5,2020,광진구,"167,427","360,109","173,000","187,109","346,682","167,310","179,372","13,427","5,690","7,737",2.07,"50,560"
6,2020,동대문구,"167,598","357,014","175,322","181,692","342,837","169,769","173,068","14,177","5,553","8,624",2.05,"61,796"
7,2020,중랑구,"185,920","399,562","197,118","202,444","394,702","195,165","199,537","4,860","1,953","2,907",2.12,"69,447"
8,2020,성북구,"195,396","447,056","214,658","232,398","437,153","210,810","226,343","9,903","3,848","6,055",2.24,"73,770"
9,2020,강북구,"145,896","311,569","151,466","160,103","308,055","150,143","157,912","3,514","1,323","2,191",2.11,"63,422"

,연도,자치구,세대수,인구 합계,남자 인구 합계,여자 인구 합계,한국인 인구 합계,한국인 남자 인구수,한국인 여자 인구수,등록 외국인 인구 합계,등록 외국인 인구 남자수,등록 외국인 인구 여자수,세대당 인구,65세 이상 고령자 수
10,2020,도봉구,"139,114","327,361","159,420","167,941","325,257","158,620","166,637","2,104",800,"1,304",2.34,"62,059"
11,2020,노원구,"218,270","527,032","254,188","272,844","523,037","252,383","270,654","3,995","1,805","2,190",2.40,"85,489"
12,2020,은평구,"213,914","484,043","231,998","252,045","479,835","230,279","249,556","4,208","1,719","2,489",2.24,"85,187"
13,2020,서대문구,"144,838","322,952","153,152","169,800","312,173","149,360","162,813","10,779","3,792","6,987",2.16,"54,204"
14,2020,마포구,"178,482","381,858","178,977","202,881","371,890","175,150","196,740","9,968","3,827","6,141",2.08,"54,331"
15,2020,양천구,"180,633","457,781","224,379","233,402","454,251","222,824","231,427","3,530","1,555","1,975",2.51,"65,670"
16,2020,강서구,"266,982","585,901","282,686","303,215","580,185","280,034","300,151","5,716","2,652","3,064",2.17,"88,984"
17,2020,구로구,"180,531","432,488","215,424","217,064","404,408","199,673","204,735","28,080","15,751","12,329",2.24,"70,198"
18,2020,금천구,"114,715","247,835","126,141","121,694","231,733","117,226","114,507","16,102","8,915","7,187",2.02,"39,842"
19,2020,영등포구,"184,714","407,367","202,969","204,398","379,480","187,647","191,833","27,887","15,322","12,565",2.05,"61,688"

,연도,자치구,세대수,인구 합계,남자 인구 합계,여자 인구 합계,한국인 인구 합계,한국인 남자 인구수,한국인 여자 인구수,등록 외국인 인구 합계,등록 외국인 인구 남자수,등록 외국인 인구 여자수,세대당 인구,65세 이상 고령자 수
20,2020,동작구,"184,229","401,572","193,718","207,854","391,220","189,152","202,068","10,352","4,566","5,786",2.12,"65,190"
21,2020,관악구,"274,811","509,803","255,211","254,592","495,060","248,339","246,721","14,743","6,872","7,871",1.80,"78,875"
22,2020,서초구,"173,502","429,025","205,282","223,743","425,126","203,359","221,767","3,899","1,923","1,976",2.45,"60,169"
23,2020,강남구,"234,872","544,055","260,378","283,677","539,231","257,999","281,232","4,824","2,379","2,445",2.30,"75,096"
24,2020,송파구,"281,959","673,926","325,080","348,846","667,960","322,299","345,661","5,966","2,781","3,185",2.37,"93,483"
25,2020,강동구,"196,499","463,998","228,044","235,954","459,970","226,216","233,754","4,028","1,828","2,200",2.34,"70,019"

In [42]:
df.head()

,연도,자치구,세대수,인구 합계,남자 인구 합계,여자 인구 합계,한국인 인구 합계,한국인 남자 인구수,한국인 여자 인구수,등록 외국인 인구 합계,등록 외국인 인구 남자수,등록 외국인 인구 여자수,세대당 인구,65세 이상 고령자 수
0,2020,합계,"4,417,954","9,911,088","4,816,522","5,094,566","9,668,465","4,701,723","4,966,742","242,623","114,799","127,824",2.19,"1,568,331"
1,2020,종로구,"75,003","158,996","76,876","82,120","149,384","72,635","76,749","9,612","4,241","5,371",1.99,"28,507"
2,2020,중구,"63,686","134,635","65,776","68,859","125,240","61,222","64,018","9,395","4,554","4,841",1.97,"24,495"
3,2020,용산구,"113,093","244,645","118,835","125,810","230,040","110,722","119,318","14,605","8,113","6,492",2.03,"40,247"
4,2020,성동구,"135,870","300,505","146,424","154,081","293,556","143,387","150,169","6,949","3,037","3,912",2.16,"45,603"

### CSV - 저장하기

저장하는 방법은 excel과 유사합니다. 다만, csv파일 형식에는 `sheet_name` 옵션은 없습니다.

In [25]:
df = pd.read_csv('./data/data/seoul_population.csv')

In [26]:
df.to_csv('sample.csv', index=False)

### 연습문제

data 폴더에 있는 example_1.csv 파일을 읽어서 df에 저장하세요.

In [27]:
# 코드를 입력하세요.
df = pd.read_csv('./data/data/example_1.csv')
df

,지역,GS칼텍스_셀프,GS칼텍스_일반,S-OIL_셀프,S-OIL_일반,SK에너지_셀프,SK에너지_일반,알뜰(ex)_셀프,알뜰주유소_셀프,알뜰주유소_일반,자가상표_셀프,자가상표_일반,현대오일뱅크_셀프,현대오일뱅크_일반
0,서울 강남구,1479.628286,1647.372500,1459.241304,1641.747917,1452.455417,1790.737444,NaN,NaN,NaN,NaN,NaN,1408.822500,1604.995806
1,서울 강동구,1451.558750,1472.213056,1456.763333,1528.702500,1457.974359,1666.781667,NaN,NaN,NaN,NaN,NaN,1412.656667,1441.861667
2,서울 강북구,1342.991667,1373.801667,1325.855000,1370.877500,1375.390244,1347.262500,NaN,NaN,NaN,NaN,NaN,1353.985814,NaN
3,서울 강서구,1403.752500,1429.829167,1420.370833,NaN,1377.233636,1485.694000,NaN,1326.212083,1313.838333,NaN,NaN,1339.844737,1406.236939
4,서울 관악구,1425.005238,1472.719583,NaN,1435.575417,1439.986667,1466.670278,NaN,1330.837500,1390.558333,NaN,NaN,1420.116250,1453.778750
5,서울 광진구,NaN,1409.874667,1388.133750,1375.815833,1468.312000,1414.259167,NaN,NaN,1354.878333,NaN,NaN,1372.834231,1376.601667
6,서울 구로구,1349.338333,1580.261111,1348.405000,1441.733833,NaN,1417.576415,NaN,NaN,1385.675833,NaN,NaN,1365.516522,1422.016774
7,서울 금천구,1382.317059,NaN,1383.742083,1357.099167,NaN,1427.995122,NaN,1304.870000,1372.938333,NaN,NaN,1382.120417,1386.201429
8,서울 노원구,1381.040833,1459.922778,1412.337778,NaN,1407.652917,1509.330833,NaN,NaN,NaN,NaN,NaN,NaN,1467.670000
9,서울 도봉구,1358.418750,1404.916667,1375.605333,1523.638333,1349.851463,1478.190000,NaN,NaN,NaN,NaN,NaN,1388.036452,1344.847742
10,서울 동대문구,1391.806250,1382.023636,1329.071111,1429.638750,1429.797143,1428.111897,NaN,NaN,NaN,NaN,NaN,1371.264167,1427.322885
11,서울 동작구,1435.480000,1403.587917,NaN,1413.730000,1466.530000,1529.880833,NaN,NaN,NaN,NaN,NaN,1407.263846,1421.757083
12,서울 마포구,NaN,1439.495000,1420.023000,1603.095000,1707.846000,1561.930462,NaN,NaN,NaN,NaN,NaN,1444.157143,1453.200000
13,서울 서대문구,1395.398261,1386.623333,1379.786250,1567.006667,1402.860556,1444.818049,NaN,NaN,NaN,NaN,NaN,1375.766429,1376.517895
14,서울 서초구,1462.796087,1446.435069,1424.985556,1658.781250,1437.954390,1617.880787,1330.236667,NaN,NaN,NaN,NaN,1402.675714,1464.420600
15,서울 성동구,1396.703333,1708.895833,1355.394167,1411.162500,1456.640833,1505.038429,NaN,NaN,NaN,NaN,1368.819167,1387.657083,1582.866667
16,서울 성북구,1346.266667,1383.025278,1362.213889,1360.839545,1375.587500,1413.591176,NaN,NaN,1321.211667,NaN,NaN,1344.361754,1372.565263
17,서울 송파구,1409.809722,1422.576250,1396.068333,1447.741250,1415.665610,1481.395094,NaN,NaN,NaN,NaN,NaN,1404.777097,1424.252581
18,서울 양천구,1359.940833,1374.683750,1317.706667,NaN,1392.041410,1504.570000,NaN,1344.739167,NaN,NaN,NaN,1373.028070,1417.873023
19,서울 영등포구,1408.771875,1626.469577,1401.168947,1401.510000,1395.848254,1666.417143,NaN,1343.594167,NaN,NaN,NaN,1368.888000,1473.165806
20,서울 용산구,NaN,1806.439167,NaN,NaN,NaN,1907.432414,NaN,NaN,NaN,NaN,NaN,NaN,1807.390303
21,서울 은평구,1375.465667,1395.541667,1375.332500,NaN,1375.626667,1435.582000,NaN,NaN,NaN,1609.0,1443.049167,1362.752400,1391.851429
22,서울 종로구,NaN,2024.467917,NaN,1469.235000,1434.842500,1952.163000,NaN,NaN,NaN,NaN,NaN,NaN,1615.330000
23,서울 중구,NaN,2038.513721,NaN,1773.441667,NaN,1975.886500,NaN,NaN,1448.230833,NaN,NaN,NaN,1659.430833
24,서울 중랑구,1363.768958,1350.486667,1356.133056,1394.353750,1389.504151,NaN,NaN,NaN,NaN,NaN,NaN,1359.062857,1338.245833

data 폴더에 있는 example_2.csv 파일을 읽어서 df에 저장하세요.
- encoding은 cp949로 되어있습니다.

In [29]:
# 코드를 입력하세요.
df = pd.read_csv('./data/data/example_2.csv', encoding='cp949')
df

,지역,GS칼텍스_셀프,GS칼텍스_일반,S-OIL_셀프,S-OIL_일반,SK에너지_셀프,SK에너지_일반,알뜰(ex)_셀프,알뜰주유소_셀프,알뜰주유소_일반,자가상표_셀프,자가상표_일반,현대오일뱅크_셀프,현대오일뱅크_일반
0,서울 강남구,1479.628286,1647.372500,1459.241304,1641.747917,1452.455417,1790.737444,NaN,NaN,NaN,NaN,NaN,1408.822500,1604.995806
1,서울 강동구,1451.558750,1472.213056,1456.763333,1528.702500,1457.974359,1666.781667,NaN,NaN,NaN,NaN,NaN,1412.656667,1441.861667
2,서울 강북구,1342.991667,1373.801667,1325.855000,1370.877500,1375.390244,1347.262500,NaN,NaN,NaN,NaN,NaN,1353.985814,NaN
3,서울 강서구,1403.752500,1429.829167,1420.370833,NaN,1377.233636,1485.694000,NaN,1326.212083,1313.838333,NaN,NaN,1339.844737,1406.236939
4,서울 관악구,1425.005238,1472.719583,NaN,1435.575417,1439.986667,1466.670278,NaN,1330.837500,1390.558333,NaN,NaN,1420.116250,1453.778750
5,서울 광진구,NaN,1409.874667,1388.133750,1375.815833,1468.312000,1414.259167,NaN,NaN,1354.878333,NaN,NaN,1372.834231,1376.601667
6,서울 구로구,1349.338333,1580.261111,1348.405000,1441.733833,NaN,1417.576415,NaN,NaN,1385.675833,NaN,NaN,1365.516522,1422.016774
7,서울 금천구,1382.317059,NaN,1383.742083,1357.099167,NaN,1427.995122,NaN,1304.870000,1372.938333,NaN,NaN,1382.120417,1386.201429
8,서울 노원구,1381.040833,1459.922778,1412.337778,NaN,1407.652917,1509.330833,NaN,NaN,NaN,NaN,NaN,NaN,1467.670000
9,서울 도봉구,1358.418750,1404.916667,1375.605333,1523.638333,1349.851463,1478.190000,NaN,NaN,NaN,NaN,NaN,1388.036452,1344.847742
10,서울 동대문구,1391.806250,1382.023636,1329.071111,1429.638750,1429.797143,1428.111897,NaN,NaN,NaN,NaN,NaN,1371.264167,1427.322885
11,서울 동작구,1435.480000,1403.587917,NaN,1413.730000,1466.530000,1529.880833,NaN,NaN,NaN,NaN,NaN,1407.263846,1421.757083
12,서울 마포구,NaN,1439.495000,1420.023000,1603.095000,1707.846000,1561.930462,NaN,NaN,NaN,NaN,NaN,1444.157143,1453.200000
13,서울 서대문구,1395.398261,1386.623333,1379.786250,1567.006667,1402.860556,1444.818049,NaN,NaN,NaN,NaN,NaN,1375.766429,1376.517895
14,서울 서초구,1462.796087,1446.435069,1424.985556,1658.781250,1437.954390,1617.880787,1330.236667,NaN,NaN,NaN,NaN,1402.675714,1464.420600
15,서울 성동구,1396.703333,1708.895833,1355.394167,1411.162500,1456.640833,1505.038429,NaN,NaN,NaN,NaN,1368.819167,1387.657083,1582.866667
16,서울 성북구,1346.266667,1383.025278,1362.213889,1360.839545,1375.587500,1413.591176,NaN,NaN,1321.211667,NaN,NaN,1344.361754,1372.565263
17,서울 송파구,1409.809722,1422.576250,1396.068333,1447.741250,1415.665610,1481.395094,NaN,NaN,NaN,NaN,NaN,1404.777097,1424.252581
18,서울 양천구,1359.940833,1374.683750,1317.706667,NaN,1392.041410,1504.570000,NaN,1344.739167,NaN,NaN,NaN,1373.028070,1417.873023
19,서울 영등포구,1408.771875,1626.469577,1401.168947,1401.510000,1395.848254,1666.417143,NaN,1343.594167,NaN,NaN,NaN,1368.888000,1473.165806
20,서울 용산구,NaN,1806.439167,NaN,NaN,NaN,1907.432414,NaN,NaN,NaN,NaN,NaN,NaN,1807.390303
21,서울 은평구,1375.465667,1395.541667,1375.332500,NaN,1375.626667,1435.582000,NaN,NaN,NaN,1609.0,1443.049167,1362.752400,1391.851429
22,서울 종로구,NaN,2024.467917,NaN,1469.235000,1434.842500,1952.163000,NaN,NaN,NaN,NaN,NaN,NaN,1615.330000
23,서울 중구,NaN,2038.513721,NaN,1773.441667,NaN,1975.886500,NaN,NaN,1448.230833,NaN,NaN,NaN,1659.430833
24,서울 중랑구,1363.768958,1350.486667,1356.133056,1394.353750,1389.504151,NaN,NaN,NaN,NaN,NaN,NaN,1359.062857,1338.245833

data 폴더에 있는 example_3.csv 파일을 읽어서 df에 저장하세요.
- encoding은 cp949로 되어있습니다.

In [30]:
# 코드를 입력하세요.
df = pd.read_csv('./data/data/example_3.csv', encoding='cp949')
df

   지역|GS칼텍스_셀프|GS칼텍스_일반|S-OIL_셀프|S-OIL_일반|SK에너지_셀프|SK에너지_일반|알뜰(ex)_셀프|알뜰주유소_셀프|알뜰주유소_일반|자가상표_셀프|자가상표_일반|현대오일뱅크_셀프|현대오일뱅크_일반
0   서울 강남구|1479.6282857142858|1647.3725000000002|1...
1   서울 강동구|1451.5587500000001|1472.2130555555555|1...
2   서울 강북구|1342.9916666666666|1373.801666666667|13...
3   서울 강서구|1403.7524999999996|1429.8291666666664|1...
4   서울 관악구|1425.0052380952384|1472.7195833333337||...
5   서울 광진구||1409.8746666666668|1388.13375|1375.815...
6   서울 구로구|1349.3383333333334|1580.2611111111112|1...
7   서울 금천구|1382.3170588235296||1383.7420833333335|...
8   서울 노원구|1381.0408333333335|1459.9227777777778|1...
9   서울 도봉구|1358.4187500000003|1404.9166666666667|1...
10  서울 동대문구|1391.8062499999999|1382.0236363636361|...
11  서울 동작구|1435.4799999999998|1403.5879166666666||...
12  서울 마포구||1439.4950000000001|1420.023|1603.095|1...
13  서울 서대문구|1395.3982608695653|1386.6233333333332|...
14  서울 서초구|1462.7960869565215|1446.435069444444|14...
15  서울 성동구|1396.7033333333336|1708.8958333333333|1...
16  서울 성북구|1346.2666666666667|1383.0252777777773|1...
17  서울 송파구|1409.8097222222225|1422.57625|1396.0683...
18  서울 양천구|1359.9408333333333|1374.6837500000001|1...
19  서울 영등포구|1408.7718750000001|1626.4695774647885|...
20  서울 용산구||1806.4391666666668||||1907.43241379310...
21  서울 은평구|1375.4656666666665|1395.541666666667|13...
22  서울 종로구||2024.4679166666665||1469.235|1434.8425...
23  서울 중구||2038.5137209302322||1773.4416666666666|...
24  서울 중랑구|1363.7689583333333|1350.4866666666667|1...

- 구분자(sep)는 ,가 아닌 |로 되어있습니다 다시 파일을 읽어오세요.

In [38]:
# 코드를 입력하세요.
df = pd.read_csv('./data/data/example_3.csv', encoding='cp949', sep = "|", chunksize = 5)
df_chunk = next(df)
df_chunk

,지역,GS칼텍스_셀프,GS칼텍스_일반,S-OIL_셀프,S-OIL_일반,SK에너지_셀프,SK에너지_일반,알뜰(ex)_셀프,알뜰주유소_셀프,알뜰주유소_일반,자가상표_셀프,자가상표_일반,현대오일뱅크_셀프,현대오일뱅크_일반
0,서울 강남구,1479.628286,1647.372500,1459.241304,1641.747917,1452.455417,1790.737444,NaN,NaN,NaN,NaN,NaN,1408.822500,1604.995806
1,서울 강동구,1451.558750,1472.213056,1456.763333,1528.702500,1457.974359,1666.781667,NaN,NaN,NaN,NaN,NaN,1412.656667,1441.861667
2,서울 강북구,1342.991667,1373.801667,1325.855000,1370.877500,1375.390244,1347.262500,NaN,NaN,NaN,NaN,NaN,1353.985814,NaN
3,서울 강서구,1403.752500,1429.829167,1420.370833,NaN,1377.233636,1485.694000,NaN,1326.212083,1313.838333,NaN,NaN,1339.844737,1406.236939
4,서울 관악구,1425.005238,1472.719583,NaN,1435.575417,1439.986667,1466.670278,NaN,1330.837500,1390.558333,NaN,NaN,1420.116250,1453.778750